.taxonomy-images-close-modal {
	display:none;
	font-weight:bold;
	color:#c00;
	cursor:pointer;
}
.taxonomy-image-button .term-name {
	font-style:italic;
}
.taxonomy-images-modal .taxonomy-image-button {
	display:inline !important;
}
.taxonomy-images-modal #tab-type_url,
.taxonomy-images-modal .savesend input {
	display:none !important;
}

.taxonomy-image-thumbnail { display:block; height:77px; width:77px; overflow:hidden;text-align:center; margin-bottom:3px; }
.taxonomy-image-control .control {
	display:block;
	float:left;
	text-indent:-9999em;
	width:15px;
	height:15px;
	background:url( controls.png );
	background-repeat:no-repeat;
}
.taxonomy-image-control .control:hover { cursor:pointer; }
.taxonomy-image-control .upload { background-position: 0 0; }
.taxonomy-image-control .upload:hover { background-position: -15px 0 }
.taxonomy-image-control .remove { background-position:-30px 0; }
.taxonomy-image-control .remove:hover { background-position:-45px 0; }
.taxonomy-image-control .library { background-position: -60px 0; }
.taxonomy-image-control .hide { visibility:hidden; }
.taxonomy-image-control .show { visibility:visible; }

/*
 * Settings page styles.
 * Tip of the hat to the theme check plugin!!!
 */
#taxonomy-images {
	margin:20px auto;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#taxonomy-images h3 {
	margin:0;
	padding:10px 20px;
	background:#dfdfdf;
	font-size:20px;
	border-bottom:1px solid #ccc;
}
#taxonomy-images form {
	margin:0;
	padding:0;
}
#taxonomy-images p.section-description {
	margin:0;
	padding:15px;
	background:#fff;
	border-bottom:1px solid #ccc;
}
#taxonomy-images th,
#taxonomy-images td {
	background:#fff;
	margin:0;
}
#taxonomy-images table {
	margin:0;
}
#taxonomy-images .button-holder {
	margin:0;
	padding:10px 20px;
	background:#dfdfdf;
	border-top:1px solid #ccc;
}